#modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4);
}

#modal .content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    width: 60%;
}

#form div {
    margin: 1em auto;
}